

//Fonts:
$default-font-size: 16px;
$default-font-family: "Times New Roman", serif;
$secondary-font-family: "Helvetica", sans-serif;
$heading-large-font-size: 43px;


// Colors:
$evite-green: #28A842;

$black-text: #2E3136;

$white-text: #FFF;

$grey-text: #91959C;

$grey-border: #E1E3E6;

$grey-testimonial-background: #F5F5F7;

$grey-text-2: #6F7378;

// Other:

$breakpoint-mobile: 480px;
