.placeholder {
  background-color: #F5F5F7;
  color: #2E3136;
  width: auto; }

.pro-landing__banner {
  background: #28A842;
  color: #FFF;
  width: 100%;
  left: 0;
  padding: 0 16px;
  text-align: center;
  height: 80px;
  line-height: 80px;
  vertical-align: middle; }
  @media screen and (max-width: 499.999px) {
    .pro-landing__banner {
      height: 108px;
      line-height: 24px;
      padding: 16px; } }
  .pro-landing__banner .pro-landing__banner__urgent {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.25px; }
    @media screen and (max-width: 499.999px) {
      .pro-landing__banner .pro-landing__banner__urgent {
        display: block; } }
  .pro-landing__banner a.link-pro-banner {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 2px solid #fff;
    margin-left: 16px; }
    @media screen and (max-width: 499.999px) {
      .pro-landing__banner a.link-pro-banner {
        display: inline-block;
        margin-top: 5px;
        margin-left: 0; } }

.pro-landing__header {
  background: #fff;
  width: 100%;
  margin-bottom: 30px; }
  @media screen and (max-width: 499.999px) {
    .pro-landing__header {
      margin-top: 10px; } }

#header.pro-landing__header-spacer {
  height: 108px !important; }

.pro-logo {
  margin: 70px auto; }
  @media screen and (max-width: 499.999px) {
    .pro-logo {
      float: none;
      margin: 0 auto; } }

.pro-landing__navigation, .pro-landing__signin {
  float: left;
  height: 100%;
  margin: 0;
  position: relative;
  z-index: 1; }

.pro-landing__navigation a {
  color: #28A842; }
  .pro-landing__navigation a:hover {
    text-decoration: underline; }

.pro-landing__signin {
  float: right; }

.pro-landing__content {
  text-align: center; }
  .pro-landing__content section {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px; }
    @media screen and (max-width: 1279px) {
      .pro-landing__content section {
        max-width: 100%; } }
    .pro-landing__content section.pro-testimonials-section {
      padding: 0; }
      @media screen and (max-width: 499.999px) {
        .pro-landing__content section.pro-testimonials-section .section-intro {
          margin-bottom: 0; } }

@media screen and (max-width: 767.999px) {
  .pro-h1 {
    font-size: 41px;
    line-height: 46px; } }

@media screen and (max-width: 499.999px) {
  .pro-h1 {
    margin: 0 20px;
    font-size: 35px;
    line-height: 41px; } }

.pro-h2 {
  font-size: 47px;
  line-height: 52px;
  margin-top: 110px;
  margin-bottom: 10px; }
  @media screen and (max-width: 499.999px) {
    .pro-h2 {
      font-size: 30px;
      line-height: 37px;
      margin-top: 80px; } }

.pro-h3 {
  margin: 0 0 15px;
  white-space: nowrap; }

.pro-landing__feature-subtitle {
  color: #28A842;
  font-weight: 700;
  font-size: 20pt;
  margin: 20px auto 30px 32px;
  text-align: left; }
  @media screen and (max-width: 499.999px) {
    .pro-landing__feature-subtitle {
      margin: 0 0 0 32px;
      white-space: nowrap; } }

.pro-landing__mid-print {
  color: #2E3136;
  margin: 0 auto 10px; }
  @media screen and (max-width: 499.999px) {
    .pro-landing__mid-print {
      max-width: 300px; } }

.pro-landing__fine-print {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
  color: #6F7378; }
  @media screen and (max-width: 499.999px) {
    .pro-landing__fine-print {
      margin: 20px auto 80px; } }

.pro-landing__hero-section .pro-cta.primary-button.large {
  margin: 50px auto 30px;
  height: 60px;
  width: auto;
  line-height: 60px; }

.pro-cta.primary-button.large {
  border-radius: 5px;
  margin: 30px auto;
  padding: 0 50px;
  font-weight: 400; }
  @media screen and (max-width: 499.999px) {
    .pro-cta.primary-button.large {
      width: 90%; } }

.pro-cta.secondary-button {
  border-radius: 5px;
  margin-left: 16px;
  min-width: auto; }

.section-intro {
  max-width: 700px;
  margin: 0 auto 40px; }
  .section-intro p {
    margin-top: 15px; }

.pro-hero-image {
  display: block;
  height: 450px;
  background: url("/static/images/pro/landing/pro-landing-hero.7cc07aedfe98.png") center center no-repeat;
  background-size: auto 100%; }
  @media screen and (max-width: 767.999px) {
    .pro-hero-image {
      height: 300px; } }
  @media screen and (max-width: 499.999px) {
    .pro-hero-image {
      height: 160px; } }

.pro-featureblock-image {
  height: 300px;
  display: block;
  width: 90%;
  position: absolute;
  margin: 40px 0 0;
  bottom: 70px; }
  .pro-featureblock-image.block1 {
    background: url("/static/images/pro/landing/round-block1.2af6ed6316b2.png") bottom/contain no-repeat;
    bottom: 80px; }
    @media screen and (max-width: 1279px) {
      .pro-featureblock-image.block1 {
        bottom: 50px; } }
  .pro-featureblock-image.block2 {
    background: url("/static/images/pro/landing/round-block2.c4c47f572140.png") bottom/contain no-repeat;
    max-height: 210px; }
    @media screen and (max-width: 1279px) {
      .pro-featureblock-image.block2 {
        bottom: 50px; } }
  .pro-featureblock-image.block3 {
    background: url("/static/images/pro/landing/round-block3.cd4d48b247b7.png") bottom/contain no-repeat;
    max-height: 220px; }
    @media screen and (max-width: 1279px) {
      .pro-featureblock-image.block3 {
        bottom: 20px;
        max-height: 100%; } }

.pro-demo-images {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 1279px) {
    .pro-demo-images {
      max-width: 658px;
      margin: 0 auto; }
      .pro-demo-images .pro-demo-mobile {
        max-width: 25%; } }
  @media screen and (max-width: 767.999px) {
    .pro-demo-images {
      flex-direction: column; }
      .pro-demo-images .pro-demo-mobile {
        max-width: 40%; } }

.pro-demo-laptop {
  width: 800px;
  max-width: 100%; }

.pro-demo-mobile {
  width: 200px;
  max-width: 100%;
  max-height: 693px; }

.pro-design-image {
  height: 300px; }

.pro-landing__testimonial-image {
  border-radius: 50px;
  height: 75px;
  width: 75px;
  margin-right: 24px; }

.pro-rounded-corner-block {
  border: 1px solid #E1E3E6;
  border-radius: 15px;
  text-align: center;
  margin: 0 18px;
  min-width: 300px;
  width: 33%; }
  @media screen and (max-width: 1075px) {
    .pro-rounded-corner-block {
      width: 60%;
      margin: 20px auto; } }
  @media screen and (max-width: 499.999px) {
    .pro-rounded-corner-block {
      width: 90%;
      margin: 20px auto; } }
  .pro-rounded-corner-block:first-child {
    margin-left: 0; }
  .pro-rounded-corner-block:last-child {
    margin-right: 0; }

.pro-landing__testimonial-block .pro-rounded-corner-block {
  margin: 0 30px;
  background: #fff;
  position: relative;
  padding-bottom: 90px;
  width: 50%; }
  @media screen and (max-width: 1075px) {
    .pro-landing__testimonial-block .pro-rounded-corner-block {
      margin: 30px auto; } }
  @media screen and (max-width: 1075px) and (max-width: 1075px) {
    .pro-landing__testimonial-block .pro-rounded-corner-block {
      width: 80%; } }
  @media screen and (max-width: 1075px) and (max-width: 499.999px) {
    .pro-landing__testimonial-block .pro-rounded-corner-block {
      width: 90%;
      padding-bottom: 110px; } }
  @media screen and (max-width: 767.999px) {
    .pro-landing__testimonial-block .pro-rounded-corner-block {
      margin: 30px auto; } }

.pro-landing__hero {
  width: 100%;
  text-align: center;
  overflow: hidden; }

.pro-landing__feature-blocks {
  display: flex;
  justify-content: space-between;
  margin-top: 60px; }
  @media screen and (max-width: 1075px) {
    .pro-landing__feature-blocks {
      flex-direction: column; } }
  .pro-landing__feature-blocks .pro-rounded-corner-block {
    padding: 40px 20px 320px;
    position: relative;
    overflow: auto; }
    @media screen and (max-width: 1075px) {
      .pro-landing__feature-blocks .pro-rounded-corner-block:first-child, .pro-landing__feature-blocks .pro-rounded-corner-block:last-child {
        margin: auto; } }

.pro-landing-registered {
  font-size: .5em;
  top: -1em; }

.feature-desc {
  max-width: 275px;
  margin: 0 auto;
  line-height: 21px; }

.pro-landing__demo-section .pro-h2 {
  padding: 0 10px; }

.pro-landing__demo-section .demo-subhead {
  padding: 0 20px; }

section.pro-landing__design-section {
  width: 1348px;
  max-width: 100%;
  padding: 0; }
  section.pro-landing__design-section .pro-h2 {
    margin-top: 0; }

.pro-landing__design-section .section-intro {
  padding: 0 16px;
  max-width: 890px; }

.pro-landing__design-section .design-subhead {
  max-width: 500px;
  margin: 0 auto; }

.pro-landing__design-section img {
  max-width: 100%; }

.pro-landing__design-navigation {
  border-bottom: 1px solid #B9BCC0; }
  .pro-landing__design-navigation li {
    display: inline-block; }

.pro-landing__design-nav.active {
  color: #28A842;
  border-bottom: 2px solid #28A842; }

.pro-landing__feature-list {
  margin-bottom: 80px; }
  .pro-landing__feature-list .pro-features-wrap {
    position: relative; }
    .pro-landing__feature-list .pro-features-wrap img {
      position: absolute;
      transform: scale(0.75); }
    @media screen and (max-width: 767.999px) {
      .pro-landing__feature-list .pro-features-wrap img {
        display: none; } }
    .pro-landing__feature-list .pro-features-wrap .pro-icon-messaging {
      top: 0;
      left: -270px; }
    .pro-landing__feature-list .pro-features-wrap .pro-icon-analytics {
      top: 50%;
      left: -290px; }
    .pro-landing__feature-list .pro-features-wrap .pro-icon-causes {
      right: -270px;
      bottom: 50%; }
    .pro-landing__feature-list .pro-features-wrap .pro-icon-mobile {
      right: -250px;
      bottom: 20px; }
  .pro-landing__feature-list .pro-rounded-corner-block {
    display: inline-block;
    padding: 20px 40px;
    width: auto; }
    @media screen and (max-width: 499.999px) {
      .pro-landing__feature-list .pro-rounded-corner-block {
        padding: 20px;
        width: 90%; } }
  .pro-landing__feature-list li {
    margin: 20px auto;
    white-space: nowrap;
    text-align: left;
    padding-left: 32px; }
    @media screen and (max-width: 499.999px) {
      .pro-landing__feature-list li {
        white-space: normal; } }
  .pro-landing__feature-list li:before {
    font-family: "evite";
    content: '\E810';
    color: #28A842;
    display: inline-block;
    margin-left: -32px;
    width: 32px; }
  .pro-landing__feature-list .pro-landing__fine-print {
    margin: 0 auto 140px; }

.feature-subhead {
  max-width: 520px;
  margin: 0 auto 40px; }
  @media screen and (max-width: 499.999px) {
    .feature-subhead {
      margin-bottom: 10px; } }

@media screen and (max-width: 499.999px) {
  .pro-landing__cta-block {
    text-align: center; } }

.pro-landing__cta-block .pro-cta {
  display: inline-block; }

.pro-landing__cta-block .pro-landing__mid-print {
  margin: 20px 0 0 0;
  max-width: 300px; }
  @media screen and (max-width: 499.999px) {
    .pro-landing__cta-block .pro-landing__mid-print {
      margin-left: 20px;
      text-align: left; } }

.pro-landing__pricing {
  text-align: left;
  display: inline-block;
  margin-left: 30px;
  vertical-align: middle; }
  @media screen and (max-width: 499.999px) {
    .pro-landing__pricing {
      margin: 20px 0 0 40px;
      transform: scale(1.3); } }
  .pro-landing__pricing .full-price {
    color: #91959C;
    font-size: 14px;
    text-decoration: line-through; }
  .pro-landing__pricing .discount-amount {
    color: #28A842;
    font-size: 14px;
    font-weight: 700; }
  .pro-landing__pricing .main-price {
    display: block;
    font-size: 30px; }
  .pro-landing__pricing .frequency {
    color: #91959C;
    font-size: 14px; }

.pro-landing__testimonials {
  background: #F5F5F7;
  padding: 20px 20px 80px; }
  @media screen and (max-width: 499.999px) {
    .pro-landing__testimonials {
      padding: 20px 20px 40px; } }
  .pro-landing__testimonials .pro-h2 {
    margin-top: 40px; }

.pro-landing__testimonial-block {
  display: flex;
  justify-content: space-between;
  margin-top: 60px; }
  @media screen and (max-width: 1075px) {
    .pro-landing__testimonial-block {
      flex-direction: column; } }
  @media screen and (max-width: 499.999px) {
    .pro-landing__testimonial-block {
      margin-top: 0; } }

.pro-landing__quote-block {
  text-align: left;
  padding: 0 20px;
  margin-bottom: 40px; }
  @media screen and (max-width: 767.999px) {
    .pro-landing__quote-block {
      margin: 10px auto; } }

.quote-icon {
  margin: 20px 0;
  width: 50px; }
  .quote-icon path {
    fill: #28A842;
    display: block;
    margin-bottom: -20px; }

.pro-landing__testimonial-quote {
  font-family: freight-display-pro, Helvetica, serif;
  font-style: italic;
  font-size: 24px;
  line-height: 32px; }

.pro-landing__testimonial-name-block {
  position: absolute;
  left: 20px;
  bottom: 20px;
  text-align: left;
  line-height: 20px;
  display: flex;
  align-items: center; }

.testimonial-name {
  font-weight: 700; }

.pro-member {
  color: #91959C; }

section.pro-landing__final-cta-section {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding-top: 40px; }
  @media screen and (max-width: 1075px) {
    section.pro-landing__final-cta-section .pro-landing__sign-up .pro-h2 {
      margin-top: 20px; } }
  @media screen and (max-width: 1075px) {
    section.pro-landing__final-cta-section {
      flex-direction: column;
      align-items: center; }
      section.pro-landing__final-cta-section .pro-h2 {
        margin-top: 0; }
      section.pro-landing__final-cta-section .pro-landing__sign-up, section.pro-landing__final-cta-section .pro-landing__final-cta {
        padding-bottom: 0;
        width: 100%;
        margin: 0 auto 40px; } }

.pro-landing__final-cta {
  padding-bottom: 100px;
  max-width: 510px;
  margin-bottom: 40px;
  text-align: left; }
  @media screen and (max-width: 499.999px) {
    .pro-landing__final-cta .section-intro {
      padding: 0 10px; } }
  .pro-landing__final-cta p {
    max-width: 460px; }
  .pro-landing__final-cta .pro-h2 {
    font-weight: 700; }
  .pro-landing__final-cta .pro-cta.primary-button.large {
    margin: 0; }

.pro-landing__sign-up {
  color: #6F7378;
  padding-bottom: 200px;
  max-width: 520px;
  margin-left: 5%;
  margin-bottom: 40px;
  text-align: left; }
  @media screen and (max-width: 499.999px) {
    .pro-landing__sign-up {
      padding: 0 10px; } }
  .pro-landing__sign-up .section-intro {
    max-width: 600px;
    margin: 0 auto 40px; }
  .pro-landing__sign-up .pro-h2 {
    font-weight: 700; }
  .pro-landing__sign-up .pro-cta.secondary-button {
    margin-left: 0;
    font-weight: 400;
    padding: 0 40px; }

.pro-landing__email-optin {
  display: flex;
  justify-content: space-between; }

.pro-landing-carousel-wrapper {
  position: relative;
  padding-bottom: calc(43.11% + 2.58824em + 2em); }
  .pro-landing-carousel-wrapper button:hover, .pro-landing-carousel-wrapper:active {
    color: #28A842; }
  @media screen and (max-width: 499.999px) {
    .pro-landing-carousel-wrapper {
      padding-bottom: calc(48.42% + 2.58824em + 2em); } }

.pro-landing-carousel__nav {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  text-align: center;
  position: relative;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

.pro-landing-carousel-image {
  background-position: bottom; }

.pro-landing-carousel-image__real-estate {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: url("/static/images/pro/landing/pro_carousel_desktop_real_estate.6e49159f0421.png"); }
  @media screen and (max-width: 499.999px) {
    .pro-landing-carousel-image__real-estate {
      background-image: url("/static/images/pro/landing/pro_carousel_mobile_real_estate.54db997a3a1d.png"); } }

.pro-landing-carousel-image__non-profits {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: url("/static/images/pro/landing/pro_carousel_desktop_non_profit.dae3ea4ed840.png"); }
  @media screen and (max-width: 499.999px) {
    .pro-landing-carousel-image__non-profits {
      background-image: url("/static/images/pro/landing/pro_carousel_mobile_non_profit.eca6f440172a.png"); } }

.pro-landing-carousel-image__business-owners {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: url("/static/images/pro/landing/pro_carousel_desktop_business.99323aac03b2.png"); }
  @media screen and (max-width: 499.999px) {
    .pro-landing-carousel-image__business-owners {
      background-image: url("/static/images/pro/landing/pro_carousel_mobile_business.c87d8d32873c.png"); } }

.pro-landing-carousel-image__event-planners {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: url("/static/images/pro/landing/pro_carousel_desktop_event_planner.9c4447d7997b.png"); }
  @media screen and (max-width: 499.999px) {
    .pro-landing-carousel-image__event-planners {
      background-image: url("/static/images/pro/landing/pro_carousel_mobile_event_planner.a3e053986fc2.png"); } }

.pro-landing-carousel-image__office-managers {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: url("/static/images/pro/landing/pro_carousel_desktop_office_manager.003568dc8a18.png"); }
  @media screen and (max-width: 499.999px) {
    .pro-landing-carousel-image__office-managers {
      background-image: url("/static/images/pro/landing/pro_carousel_mobile_office_manager.41095c42f5e7.png"); } }

.pro-landing-carousel__responsive-inner {
  height: 0;
  padding-top: 43.095599%;
  display: block; }
  @media screen and (max-width: 499.999px) {
    .pro-landing-carousel__responsive-inner {
      padding-top: 48.42%; } }

.pro-landing-carousel-item {
  position: absolute;
  top: 0;
  left: 16px;
  right: 16px;
  opacity: 0;
  transition: opacity .25s ease-in-out; }

#pro-landing-carousel-item-1 {
  position: absolute;
  opacity: 1;
  z-index: 1; }

.tabnav-wrapper {
  position: absolute;
  z-index: 10;
  bottom: 0;
  height: 2.58824em;
  font-size: 17px;
  overflow: hidden;
  width: 100%;
  text-align: center; }

.pro-landing-carousel-wrapper .tabnav-wrapper .tabnav-items {
  padding-left: 6.25%;
  padding-right: 6.25%; }

.tabnav-wrapper .tabnav-items {
  padding-bottom: 2.58824em; }

.tabnav .tabnav-items {
  display: inline-block;
  margin: 0; }

.tabnav-link {
  line-height: 1;
  padding: 9px 0 7px;
  margin-top: 2px;
  margin-bottom: 4px;
  color: #91959C;
  text-decoration: none;
  display: block;
  position: relative;
  text-align: center;
  z-index: 0; }

.tabnav .tabnav-item:first-child {
  padding-left: 0; }

.tabnav .tabnav-item {
  padding-left: 60px;
  border-bottom: 1px solid #91959C;
  display: inline-block;
  list-style: none;
  outline: none; }

.tabnav-link.current {
  pointer-events: none;
  color: #28A842;
  text-decoration: none;
  cursor: default;
  z-index: 10; }

.tabnav-link.current:after {
  left: 0;
  position: absolute;
  bottom: -5px;
  width: 100%;
  border-bottom: 3px solid #28A842;
  content: ''; }


/*# sourceMappingURL=pro-landing-page-v2.css.map*/